<style>
  div.flex{
    display: flex;
    flex-direction: column;
    width:200px;
    margin-left:  auto;
    margin-right:  auto;
    align-items: center;
  }
  div{
    width:200px;
    margin:20px auto;
  }
  div.space-between{
    display: flex;
    justify-content: space-between;
    margin:5px auto;
  }
  .my-2{
    margin: 30px auto 30px auto;
  }
  h1{
    font-size: 1.3rem;
  }
</style>

<div class="flex">
  <h1>
    Password Generator
  </h1>
</div>

<div class="flex">
  <label for="">Enter Length</label>
  <input type="number" (change)="handleLengthChange($event)"> 
</div>

<div class="my-2">
  <div class="space-between">
    <label>Use Letters</label>
    <input (change)="letters = !letters;handleChange($event)" data-type="letters"  type="checkbox" />
  </div>
  <div class="space-between">
    <label>Use Numbers</label>
    <input (change)="numbers = !numbers;handleChange($event)" data-type="numbers"  type="checkbox" />
  </div>
  <div class="space-between">
    <label>Use Symbols</label>
    <input (change)="symbols = !symbols;handleChange($event)" data-type="symbols"  type="checkbox" />
  </div>
  <div class="space-between">
    <label>Use Uppercase</label>
    <input (change)="uppercase = !symbols;handleChange($event)" data-type="uppercase"  type="checkbox" />
  </div>
</div>


<div class="flex">
  <button (click)="handlePassword()">
    Generate
  </button>
</div>

<div class="flex my-2">
  <label> Your Password </label>
  <input [value]="password">
</div>